@model DoctoresModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Crear Doctores
  </div>
  <div class="card-body">
    

      <form asp-action="GuardarD" asp-controller="MantenedorD" method="post">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" type="text" class="form-control">
        <span asp-validation-for="Nombre" class="text-danger"></span>
      </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="Apellido" type="text" class="form-control">
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input asp-for="Telefono" type="text" class="form-control">
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Especialidad</label>
                <input asp-for="Especialidad" type="text" class="form-control">
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">DNI</label>
                <input asp-for="DNI" type="text" class="form-control">
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
         <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-action="ListarD" asp-controller="MantenedorD" class="btn btn-Info">Volver a la lista</a>
    </form>


  </div>
</div>
